@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme{
  --color-pink-1: #FFFCFE;
  --color-pink-2: #FEF7FB;
  --color-pink-3: #FEE9F5;
  --color-pink-4: #FBDCEF;
  --color-pink-5: #F6CEE7;
  --color-pink-6: #EFBFDD;
  --color-pink-7: #E7ACD0;
  --color-pink-8: #DD93C2;
  --color-pink-9: #D6409F;
  --color-pink-10: #CF3897;
  --color-pink-11: #C2298A;
  --color-pink-12: #651249;

  --color-stats-bar-1: #c00;
  --color-stats-bar-2: #cc5200;
  --color-stats-bar-3: #cc7d00;
  --color-stats-bar-4: #ccc500;
  --color-stats-bar-5: #95cc80;
  --color-stats-bar-6: #60cc00;
  --color-stats-bar-7: #00a8cc;
}

@layer base {
  * {
    @variant dark {
      --color-pink-1: #191117;
      --color-pink-2: #21121D;
      --color-pink-3: #37172F;
      --color-pink-4: #4B143D;
      --color-pink-5: #591C47;
      --color-pink-6: #692955;
      --color-pink-7: #833869;
      --color-pink-8: #A84885;
      --color-pink-9: #D6409F;
      --color-pink-10: #DE51A8;
      --color-pink-11: #FF8DCC;
      --color-pink-12: #FDD1EA;
    }
  }
}